/* Add this to your CSS file */

.character-navbar {
  position: relative;
  margin: 0 6.66666vw;
  z-index: 60;
  top: 50px;
  padding: 0 min(calc(100 / var(--vw-min) * 100vw), 100px);
}

.character-navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 25px;
  flex-wrap: wrap;
}

.navbar-item {
  position: relative;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    rotate 0.3s ease;
}

.navbar-item:hover {
  transform: scale(1.1) rotate(10deg);
}

.navbar-item.active {
  transform: scale(1.15) rotate(10deg);
}

.navbar-item.clicked {
  transform: scale(1.1) rotate(10deg);
}

.navbar-item.clicked:hover {
  transform: scale(1.1) rotate(10deg);
}

.navbar-item.active.clicked {
  transform: scale(1.15) rotate(10deg);
}

.navbar-icon {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.navbar-img {
  position: relative;
  width: 65%;
  height: 65%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .character-navbar {
    margin: 0 0 min(calc(96 / var(--vw-min) * 100vw), 96px);
    padding: 0;
    top: 10px;
  }

  .navbar-icon {
    width: 50px;
    height: 50px;
  }

  .character-navbar ul {
    gap: 15px;
  }
}
