/* Project Theme Colors */
:root {
  /* Base variables */
  --vw-min: 1200;
  --color-character0: #ff6133;
  --color-character1: #3498db;
  --color-character2: #e74c3c;
  --font-rockwell: "Rockwell", serif;
  --font-mplus: "Segoe UI", "Arial Rounded MT Bold", sans-serif;

  /* Primary anchor variables (user-adjustable) */
  --character-img-height: 350px;

  /* Responsive calculation for primary anchor */
  --character-img-height-vw: calc(350 / var(--vw-min) * 100vw);

  /* All positioning derived from character image height */
  --wrapper-height: calc(
    var(--character-img-height) * 2
  ); /* 656px when image is 350px */
  --wrapper-height-vw: calc(var(--character-img-height-vw) * 2);

  --name-top: calc(
    var(--cv-top) - var(--name-font-size) - 5px
  ); /* 50px when image is 350px */
  --name-top-vw: calc(var(--cv-top-vw) - var(--name-font-size) - 5px);
  --name-font-size: calc(var(--character-img-height) * 0.091); /* 32px */
  --name-font-size-vw: calc(var(--character-img-height-vw) * 0.091);

  --cv-top: calc(
    var(--profile-bg-top) - var(--cv-font-size) - 10px
  ); /* 116px */
  --cv-top-vw: calc(var(--profile-bg-top-vw) - var(--cv-font-size-vw) - 10px);
  --cv-font-size: calc(var(--character-img-height) * 0.057); /* 20px */
  --cv-font-size-vw: calc(var(--character-img-height-vw) * 0.057);

  --profile-bg-height: calc(var(--character-img-height) * 0.5); /* 262.5px */
  --profile-bg-height-vw: calc(var(--character-img-height-vw) * 0.5);
  --profile-bg-top: calc(
    var(--wrapper-height) * 0.5 - var(--profile-bg-height) / 2
  ); /* 171.5px */
  --profile-bg-top-vw: calc(
    var(--wrapper-height-vw) * 0.5 - var(--profile-bg-height-vw) / 2
  );
  --profile-bg-width: 95%;
  --profile-bg-left: calc(calc(100% - var(--profile-bg-width)) / 2);

  --face-size: calc(var(--character-img-height) * 0.33); /* 98px */
  --face-size-vw: calc(var(--character-img-height-vw) * 0.33);
  --faces-height: calc(var(--character-img-height) * 0.8);
  --faces-height-vw: calc(var(--character-img-height-vw) * 0.8);
  --faces-right: calc(50% + var(--character-img-height) * 0.5);
  --faces-right-vw: calc(50% + var(--character-img-height) * 0.5);
  --faces-margin-top: calc(
    var(--profile-bg-top) - var(--character-img-height) * 0.11
  ); /* -220px */
  --faces-margin-top-vw: calc(
    var(--profile-bg-top-vw) - var(--character-img-height) * 0.11
  );

  --description-left: calc(var(--character-img-height) * 0.25);
  --description-left-vw: calc(var(--character-img-height-vw) * 0.25);
  --description-font-size: calc(var(--profile-bg-height) / 10); /* 16px */
  --description-font-size-vw: calc(var(--profile-bg-height-vw) / 10);
  --description-height: calc(var(--profile-bg-height) * 0.8);
  --description-height-vw: calc(var(--profile-bg-height-vw) * 0.8);
  --description-top: calc(
    var(--profile-bg-top) + var(--profile-bg-height) * 0.1
  );
  --description-top-vw: calc(
    var(--profile-bg-top-vw) + var(--profile-bg-height-vw) * 0.1
  );

  --en-name-top: calc(
    var(--profile-bg-top) + var(--profile-bg-height)
  ); /* 448px */
  --en-name-top-vw: calc(
    var(--profile-bg-top-vw) + var(--profile-bg-height-vw)
  );
  --en-name-font-size: calc(var(--character-img-height) * 0.25); /* 88px */
  --en-name-font-size-vw: calc(var(--character-img-height-vw) * 0.25);

  --navigation-button-height: 40px;
  --navigation-top: calc(50% - var(--navigation-button-height) / 2);
}

.character-slide {
  position: relative;
  height: min(var(--wrapper-height-vw), var(--wrapper-height));
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.character-0 {
  color: var(--color-character0);
}

.character-1 {
  color: var(--color-character1);
}

.character-2 {
  color: var(--color-character2);
}

.character-wrapper {
  width: min(var(--wrapper-width-vw), var(--wrapper-width));
  height: min(var(--wrapper-height-vw), var(--wrapper-height));
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.character-wrapper.active {
  z-index: 2;
  opacity: 1;
}

.character-slide.swiping {
  cursor: grabbing;
}

.character-name {
  position: absolute;
  left: min(var(--description-left), var(--description-left-vw));
  top: min(var(--name-top-vw), var(--name-top));
  font-size: min(var(--name-font-size-vw), var(--name-font-size));
  line-height: 1;
  font-weight: 700;
  z-index: 60;
  margin: 0;
}

.character-name small {
  font-size: 0.7em;
  margin-left: 5px;
}

.character-cv {
  position: absolute;
  left: min(var(--description-left), var(--description-left-vw));
  top: min(var(--cv-top-vw), var(--cv-top));
  font-size: min(var(--cv-font-size-vw), var(--cv-font-size));
  line-height: 1;
  font-weight: 700;
  z-index: 60;
  margin: 0;
}

.character-cv span {
  margin-right: 5px;
}

.character-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
  height: min(var(--wrapper-height-vw), var(--wrapper-height));
  margin: 0;
}

.character-img img {
  height: min(var(--character-img-height-vw), var(--character-img-height));
  width: auto;
  object-fit: contain;
}

.character-faces {
  position: absolute;
  left: max(var(--faces-right-vw), var(--faces-right));
  top: min(var(--faces-margin-top), var(--faces-margin-top-vw));
  height: min(var(--faces-height), var(--faces-height-vw));
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 51;
  padding: 0;
  margin: 0;
}

.character-faces a {
  height: min(var(--face-size-vw), var(--face-size));
  width: min(var(--face-size-vw), var(--face-size));
  border-radius: 50%;
  overflow: hidden;
  list-style: none;
}

.face-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.face-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity 0.2s ease-in-out;
  border-radius: 50%;
  pointer-events: none;
}

@keyframes swing-in {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a:hover .overlay {
  opacity: 1;
  animation: swing-in 0.8s ease-out;
}

.character-description {
  position: absolute;
  left: min(var(--description-left), var(--description-left-vw));
  top: min(var(--description-top), var(--description-top-vw));
  width: fit-content;
  height: min(var(--description-height), var(--description-height-vw));
  font-size: min(var(--description-font-size-vw), var(--description-font-size));
  color: #fff;
  z-index: 52;
  margin: 0;
  padding: 0;
}

.character-description a {
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 2%;
  text-decoration: none;
  position: relative;
}

.character-0 .character-description a {
  color: var(--color-character0);
}
.character-1 .character-description a {
  color: var(--color-character1);
}
.character-2 .character-description a {
  color: var(--color-character2);
}

.character-description a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 85%;
  height: 2px;
  background-size: 10px 2px;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.character-0 .character-description a::after {
  background-image: repeating-linear-gradient(
    to right,
    var(--color-character0) 0 5px,
    transparent 5px 10px
  );
}
.character-1 .character-description a::after {
  background-image: repeating-linear-gradient(
    to right,
    var(--color-character1) 0 5px,
    transparent 5px 10px
  );
}
.character-2 .character-description a::after {
  background-image: repeating-linear-gradient(
    to right,
    var(--color-character2) 0 5px,
    transparent 5px 10px
  );
}

.character-description a:hover::after {
  animation: dash-move 1s linear infinite;
  opacity: 1;
}

@keyframes dash-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}

.character-en-name {
  font-size: min(var(--en-name-font-size-vw), var(--en-name-font-size));
  line-height: 0.74;
  position: absolute;
  left: var(--profile-bg-left);
  top: min(var(--en-name-top-vw), var(--en-name-top));
  font-family: var(--font-rockwell);
  font-weight: 700;
  z-index: 40;
  margin: 2% 0;
}

.main-profile-bg {
  position: absolute;
  height: min(var(--profile-bg-height-vw), var(--profile-bg-height));
  top: min(var(--profile-bg-top-vw), var(--profile-bg-top));
  left: var(--profile-bg-left);
  width: var(--profile-bg-width);
  background-color: var(--color-character0);
  border-radius: 5vh 0 5vh 0;
  z-index: 30;
}

.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: var(--navigation-top);
  z-index: 70;
}

.nav-button {
  width: var(--navigation-button-height);
  height: var(--navigation-button-height);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pc {
  display: inline;
}

@media screen and (max-width: 768px) {
  :root {
    --vw-min: 750;
    --character-img-height: 300px;
    --character-img-height-vw: calc(300 / var(--vw-min) * 100vw);
    --faces-margin-top: calc(
      var(--profile-bg-top) + var(--character-img-height) * 0.85
    );
    --faces-margin-top-vw: calc(
      var(--profile-bg-top-vw) + var(--character-img-height-vw) * 0.85
    );
    --description-left: 2vw;
    --description-left-vw: 2vw;
    --description-top: calc(var(--faces-margin-top) + var(--face-size) + 15px);
    --description-top-vw: calc(
      var(--faces-margin-top-vw) + var(--face-size-vw) + 15px
    );
    --cv-top: calc(
      var(--profile-bg-top) - var(--cv-font-size) - 20px
    ); /* 116px */
    --cv-top-vw: calc(var(--profile-bg-top-vw) - var(--cv-font-size-vw) - 20px);
  }

  body {
    font-size: 1rem;
  }

  .character-slide {
    overflow: visible;
  }
  .character-faces {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    height: auto;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 0;
    left: auto;
  }

  .character-faces a {
    height: min(var(--face-size-vw), var(--face-size));
    width: min(var(--face-size-vw), var(--face-size));
  }

  .character-description {
    width: 90%;
    color: black;
  }

  .character-description a {
    color: white;
  }

  .character-0 .character-description a {
    background-color: var(--color-character-0);
  }
  .character-1 .character-description a {
    background-color: var(--color-character-1);
  }
  .character-2 .character-description a {
    background-color: var(--color-character-2);
  }

  .character-description a:hover {
    text-decoration: underline;
  }

  .character-description a::after {
    background-image: repeating-linear-gradient(
      to right,
      white 0 5px,
      transparent 5px 10px
    );
  }

  .character-en-name {
    font-size: min(calc(60 / var(--vw-min) * 100vw), 60px);
  }
}
